<html>
<head>
    <title>Voting system for ECE 458</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/main.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Welcome! {{ user }}! Please carefully select for your candidate...</h1>
    <br>
    <form action="" method="post">
        <ol type="1">
            <li><input type="radio" name="candidate" value="1" id="1"/> Barack Obama</li>
            <li><input type="radio" name="candidate" value="2" id="2"/> Donald Trump</li>
            <li><input type="radio" name="candidate" value="3" id="3"/> George W. Bush</li>
            <li><input type="radio" name="candidate" value="4" id="4"/> Hilary Clinton</li>
            <li><input type="radio" name="candidate" value="5" id="5"/> Kim Jong Eun</li>
            <li><input type="radio" name="candidate" value="6" id="6"/> Justin Trudeau</li>
            <li><input type="radio" name="candidate" value="7" id="7"/> Anselme</li>
        </ol>
        <input class="btn btn-default" type="submit" id="submit" value="Vote">
    </form>
    <p id="feedback"></p>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type=text/javascript>

    $(function () {
        var token = localStorage.token;
        if (token == null)
            $('#feedback').text("You don't have a token yet, please authenticate first");
        else
            $('#feedback').text("Token stored (can only be used once): " + token);

        $('#submit').click(function () {

            var voted = $('input[name=candidate]:checked').val();
            var token = localStorage.token;

            $.ajax({
                type: "GET",
                url: "http://34.212.234.53:5000/vote?token=" + token + "&vote=" + voted,
                async: false,
                success: function (data) {
                    if (data == -1) {
                        $('#feedback').text("You don't have a token yet, please authenticate first");
                        alert("You don't have a token yet, please authenticate first");
                    } else {
                        alert("Your vote is submitted");
                        $('#feedback').text("Your vote is submitted");
                        localStorage.removeItem("token");
                    }
                },
                error: function (err) {
                    alert("api is wrong...");
                }
            });
            var url = $(location).attr('href').replace('/vote', '');
            window.location.href = url;
            return false;
        });
    });


</script>
</body>
</html>