<html>
  <head>
    <title>Voting system for ECE 458</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please carefully select for your candidate...</h1>
      <br>
      <form action="" method="post">
        <ol type="1">
          <li>Barack Obama</li>
          <li>Donald Trump</li>
          <li>George W. Bush</li>
          <li>Hilary Clinton</li>
          <li>Kim Jong Eun</li>
          <li>Justin Trudeau</li>
        </ol>
      </form>
    </div>
  </body>
</html>