<html>
<head>
    <title>Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <h1>Enter your credentials to get your voting token</h1>
    <br>
    <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
        <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
        <input class="btn btn-default" type="submit" id="login" value="Get token">
        <input class="btn btn-default" type="submit" id="vote" value="Go to voting page">
        <input class="btn btn-default" type="submit" id="result" value="Vote Result">
    </form>
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
    <p id="feedback"></p>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type=text/javascript>

    $(document).ready(function(){
        localStorage.removeItem("token");
        return false;
    });

    $('#login').click(function () {
        var username = $('input[name="username"]').val();
        var password = $('input[name="password"]').val();
        var jsonObject = new Object();
        jsonObject.username = username;
        jsonObject.password = password;
        var myString = JSON.stringify(jsonObject);

        $('#feedback').text("Waiting on authentication server...")

        $.ajax({
            type: "POST",
            url: "http://52.42.33.234:8000/signin",
            data: myString,
            dataType: "json",
            {#            async: false,#}
            contentType: "application/json",
            success: function (data1) {
                //invalid user
                if (data1 === null) {
                    $('#feedback').text("Invalid credentials")
                    localStorage.removeItem("token");
                } else {
                    $('#feedback').text("Token : " + data1);
                    localStorage.token = data1;
                }
            },
            error: function (request, status, errorThrown) {
                $('#feedback').text("Problems with API...");
                // window.location.href = url;

            }
        });
        return false;
    });

    $('#vote').click(function () {
        var url = $(location).attr('href') + 'vote';
        $(location).attr('href', url);
        return false;
    });


    $('#result').click(function () {

        var voteEnabled = false;

         $.ajax({
            type: "GET",
            url: "http://34.212.234.53:5000/voteEnabled",
            success: function (data1) {
                //you cannot vote
                if (data1 == 0) {
                    // alert("VOTING period is over...!!");
                    voteEnabled = true;
                } else {
                    alert("VOTING period is NOT over...!! Please wait...");
                }
            },
            error: function (request, status, errorThrown) {
                $('#feedback').text("Problems with API...");
                alert("Problems with API...");
                // window.location.href = url;

            }
        }).then(function(){
            if(voteEnabled){
                var url = $(location).attr('href') + 'voteResult';
                $(location).attr('href', url);
                return false;
             }
             
        });

         // if(voteEnabled){
         //    var url = $(location).attr('href') + 'voteResult';
         //    $(location).attr('href', url);
         //    return false;  
         // }

         return false;
    });

    // var redirecting = function(){
    //   console.log("function!!!!");
    //     var url = $(location).attr('href') + 'register';
    //     $(location).attr('href', url);
    //     return false;
    // }


</script>
</body>
</html>