<html>
<head>
    <title>Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <h1>Enter your credentials to get your voting token</h1>
    <br>
    <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
        <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
        <input class="btn btn-default" type="submit" id="login" value="Get token">
        <input class="btn btn-default" type="submit" id="register" value="Register" style="visibility: hidden">
    </form>
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
    <p id="feedback"></p>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
<script type=text/javascript>
    $('#register').click(function () {
        var url = $(location).attr('href') + 'register';
        $(location).attr('href', url);
        // window.location.href = url;
        return false;
    });

    $('#login').click(function () {
        var username = $('input[name="username"]').val();
        var password = $('input[name="password"]').val();
        var jsonObject = new Object();
        jsonObject.username = username;
        jsonObject.password = password;
        var myString = JSON.stringify(jsonObject);

        $('#feedback').text("Waiting on authentication server...")

        $.ajax({
            type: "POST",
            url: "http://52.42.33.234:8000/signin",
            data: myString,
            dataType: "json",
{#            async: false,#}
            contentType: "application/json",
            success: function (data1) {
                //invalid user
                if (data1 === null) {
                    alert("invalid credential...");
                } else {
                    $('#feedback').text("Token : " + data1)
{#                    var url = $(location).attr('href') + 'vote';#}
{#                    $(location).attr('href', url);#}
{#                    $('#register').trigger("click");#}
                }
            },
            error: function (request, status, errorThrown) {
                alert("Problems with API...");
                // window.location.href = url;

            }
        });
        return false;
    });

    // var redirecting = function(){
    //   console.log("function!!!!");
    //     var url = $(location).attr('href') + 'register';
    //     $(location).attr('href', url);
    //     return false;
    // }


</script>
</body>
</html>