<html>
  <head>
    <title>Vote result page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Result for your vote is shown...!!</h1>
      <br>
      <li style="font-size: 30px">Barack Obama : <p style="display: inline;" id="1"></p></li>
      <li style="font-size: 30px">Donald Trump : <p style="display: inline;" id="2"></p></li>
      <li style="font-size: 30px">George W. Bush : <p style="display: inline;" id="3"></p></li>
      <li style="font-size: 30px">Hilary Clinton : <p style="display: inline;" id="4"></p></li>
      <li style="font-size: 30px">Kim Jong Eun : <p style="display: inline;" id="5"></p></li>
      <li style="font-size: 30px">Justin Trudeau : <p style="display: inline;" id="6"></p></li>
      <li style="font-size: 30px">Theresa May : <p style="display: inline;" id="7"></p></li>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script type=text/javascript>
      $(document).ready(function(){

          var voteEnabled = false;

           $.ajax({
              type: "GET",
              url: "http://34.212.234.53:5000/voteEnabled",
              success: function (data1) {
                  //you cannot vote
                  if (data1 == 0) {
                      // alert("VOTING period is over...!!");
                      voteEnabled = true;
                  } else {
                      alert("VOTING period is NOT over...!! Please wait...");
                  }
              },
              error: function (request, status, errorThrown) {
                  $('#feedback').text("Problems with API...");
                  alert("Problems with API...");
                  // window.location.href = url;

              }
          }).then(function(){
              if(!voteEnabled){
                  var url = $(location).attr('href').replace('/voteResult', '');
                  $(location).attr('href', url);
                  return false;
               } else{
                   $.ajax({
                      type: "GET",
                      url: "http://34.212.234.53:5000/tally"
                    }).then(function(data){
                      var res = jQuery.parseJSON(data);
                      res.forEach(function(item){
                          var query = '#' + item.vote;
                          $(query).text(item.score);
                      });
                  });
               }
          });

          // console.log('ready!!!');
          return false;
            // $.ajax({
            //   type: "GET",
            //   url: "http://34.212.234.53:5000/tally"
            // }).then(function(data){
            //   var res = jQuery.parseJSON(data);
            //   res.forEach(function(item){
            //       var query = '#' + item.vote;
            //       $(query).text(item.score);
            //   });

            // });
        });
    </script>
  </body>
</html>